<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ACUSE DE RECIBO DE EXPEDIENTE ÚNICO</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Arial;
        }
    </style>
</head>
<body>
<table style="width:100%;">
    <tr>
        <th style="padding-top: 5%;">
            <p><b>ACUSE DE RECIBO DE EXPEDIENTE ÚNICO <br>MUNICIPIO DE SOLIDARIDAD DE QUINTANA ROO</b></p>
        </th>
    </tr>
    <tr>
        <th style="padding-top: 3%">
            <img src="https://tramitesyservicios.gobiernodesolidaridad.gob.mx/logo.png" width="50%">
        </th>
    </tr>

    <tr>
        <th style="padding-top: 3%;">
            <p><b>DATOS DEL CONTRIBUYENTE</b></p>
        </th>
    </tr>
</table>
<div style="padding: 5%;">
    <table style="width:100%;border: 1px solid transparent; border-collapse: collapse;table-layout: fixed ;">
        <tr>
            {{#if tipo_persona}}
                <td style="width:60%;padding-bottom: 2px; font-size: 14px;">
                    <span><b>NOMBRE:</b> {{data.nombre}}</span>
                </td>
            {{else}}
                <td style="width:60%;padding-bottom: 2px; font-size: 14px;">
                    <span><b>RAZÓN SOCIAL:</b> {{data.nombre}}</span>
                </td>
            {{/if}}

            <td rowspan="8">
                <img src="{{data.qr}}" alt="">
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 2px; font-size: 14px;">
                <span><b>RFC:</b> {{data.rfc}}</span>
            </td>

        </tr>
        <tr>
            <td style="padding-bottom: 2px; font-size: 14px;">
                <span>EL ESTADO DE SU EXPEDIENTE ÚNICO ES EL SIGUIENTE:</span>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 2px; font-size: 14px;">
                <span>ARCHIVO RECIBIDO: {{data.persona}}</span>
            </td>

        </tr>
        <tr>
            {{#if data.tipo_persona}}
                <td style="padding-bottom: 2px; font-size: 14px;">
                    <span>DOCUMENTOS: CONSTANCIA DE SITUACIÓN FISCAL, COMPROBANTE DE DOMICILIO E IDENTIFICACIÓN OFICIAL</span>
                </td>
            {{else}}
                <td style="padding-bottom: 2px; font-size: 14px;">
                    <span>DOCUMENTOS: IDENTIFICACIÓN OFICIAL, ACTA CONSTITUTIVA, COMPROBANTE DE DOMICILIO, CONSTANCIA DE SITUACIÓN FISCAL, PODERES LEGALES E IDENTIFICACIÓN DE LOS REPRESENTANTES LEGALES </span>
                </td>
            {{/if}}
        </tr>
        <tr>
            <td style="padding-bottom: 2px; font-size: 14px;">
                <span><b>FECHA DE RECEPCIÓN:</b> {{data.fecha_recepcion}}</span>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 2px; font-size: 14px;">
                <span><b>HORA DE RECEPCIÓN:</b> {{data.hora_recepcion}}</span>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 2px; font-size: 14px;">
                <span><b>FOLIO DE RECEPCIÓN:</b> {{data.folio}}</span>
            </td>
        </tr>
    </table>
</div>

<div style="padding-top: 0%; padding-left: 5%; padding-right: 5%; text-align: justify">
    <p style="margin-bottom: 3%">EL PRESENTE ACUSE CONFIRMA QUE SU ARCHIVO DE EXPEDIENTE ÚNICO FUE RECIBIDO Y SERÁ
        PROCESADO Y RESGUARDADO POR EL
        MUNICIPIO DE SOLIDARIDAD EN LA PLATAFORMA DE TRÁMITES EN LINEA, MISMO QUE DEBE SER RENOVADO EN CASO DE
        ACTUALIZACIÓN O CAMBIOS EN LA DOCUMENTACIÓN.</p>

    <p>ASI MISMO QUE: </p>
    <ul style="padding: 5%; font-size: 14px;">
        <li>A LEIDO Y ACEPTADO DE CONFORMIDAD LAS REGLAS DE OPERACIÓN, ASI COMO LOS TERMINOS Y CONDICIONES.</li>
        <li style="color:red;">DECLARA BAJO PROTESTA DE DECIR VERDAD QUE LA INFORMACIÓN PROPORCIONADA ES PERSONAL Y QUE NO HA SIDO
            MODIFICADA, NI ALTERADA Y ES COPIA FIEL DE LOS ORIGINALES QUE OBRAN EN SU PODER.
        </li>
        <li style="color:red;">EL APODERADO LEGAL Y/O REPRESENTANTE LEGAL, BAJO PROTESTA DE DECIR VERDAD, MANIFIESTA QUE SUS FACULTADES
            NO LE HAN SIDO MODIFICADAS O LIMITADAS EN FORMA ALGUNA Y MUCHO MENOS REVOCADAS.
        </li>
        <li style="color:red;">
            QUE ES SABEDOR DE LAS PENAS EN LAS QUE INCURREN LOS FALSOS DECLARANTES.
        </li>
        <li style="color:red;">
            QUE LOS RECURSOS CON LOS CUALES REALIZA EL PAGO DE LOS IMPUESTOS, DERECHOS Y/O CONTRIBUCIONES SON DE
            PROCEDENCIA LÍCITA.
        </li>
        <li style="color:red;">
            QUE ASUME LAS PENAS QUE LE PUDIERAN IMPONER EN CASO DE QUE LA INFORMACIÓN QUE PROPORCIONE SEA FALSA O HAYA
            SIDO MODIFICADA EN FORMA ALGUNA.
        </li>
    </ul>
</div>
</body>
</html>
